// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-wrapper {
  margin: 80px 150px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}
